<div class="table-responsive">
    <!-- START BLOCK FOR PRINT  -->
    <div id="printReport">
        <div class="text-center">
            <p><b><h4>Отчет послеродовой помощи</h4></b></p>
        </div>
        <div class="text-left">
            <div>ЛПУ: {{titleData.lpu_title}}</div>
            <div>
                <span>Отчетный период:
                  <span>{{dateFormat titleData.sdate}}</span> -
                  <span>{{dateFormat titleData.edate}}</span>
                </span>
            </div>
            <div>
                Вид отчета: <span>{{titleData.type_rpt}}</span>
                | Подсчет данных: <span>{{titleData.calc_by}}</span>
                {{#if titleData.trimestr}}<span> | Триместр: {{titleData.trimestr}}</span>{{/if}}
                {{#if titleData.doctor_name}}<span> | Врач: {{titleData.doctor_name}}</span>{{/if}}
            </div>
        </div>
        <div id="printBtnId">
            <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
            </button>
        </div>

        <div class="result-data">
            {{#if data.length}}
                <table class="table table-responsive rpt_table">
                    <thead class="thead-dark">
                        <tr class="tr" style="background: lightgray">
                            <th class="th">№ Строки</th>
                            <th class="th">Индикатор</th>
                            <th class="th">МКБ-10</th>
                            <th class="th">Кол-во</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr class="tr">
                            <td class="td">{{this.num}}</td>
                            <td class="td" style="text-align: left; white-space: pre;">{{this.full_name}}</td>
                            <td class="td">{{this.icd10}}</td>
                            <td class="td">{{this.c1}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>

    </div>
    <!-- END BLOCK FOR PRINT  -->

    <div id="printBtnId">
        <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
        </button>
    </div>
</div>