<div class="table-responsive">
    <!-- START BLOCK FOR PRINT  -->
    <div id="printReport">
        <div class="text-center">
            <p><b><h4>Использование контрацептивных средств(КС)</h4></b></p>
        </div>
        <div class="text-left">
            <div>ЛПУ: {{titleData.lpu_title}}</div>
            <div>
                <span>Отчетный период:
                  <span>{{dateFormat titleData.sdate}}</span> -
                  <span>{{dateFormat titleData.edate}}</span>
                </span>
            </div>
        </div>
        <div id="printBtnId">
            <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
            </button>
        </div>

        <div class="result-data">
            {{#if data.length }}
            <div><strong>Использование контрацептивных средств(КС)</strong></div>
            <table class="table table-responsive rpt_table">
                <thead class="thead-dark">
                    <tr class="tr" style="background: lightgray">
                        <th class="th-1">Наименование</th>
                        <th class="th">Код строки</th>
                        <th class="th">Всего</th>
                    </tr>
                    <tr class="tr" style="background: lightgray">
                        <th class="th-1">А</th>
                        <th class="th">Б</th>
                        <th class="th">1</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr class="tr">
                        <td class="td">Число женщин фертильного возраста, пользующихся КС</td>
                        <td class="td">1.0</td>
                        <td class="td">{{this.r1_0}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">Назначено после мед. аборта</td>
                        <td class="td">1.1</td>
                        <td class="td">{{this.r1_1}}</td>
                    </tr>
                    <tr class="tr">
                        <td class="td">Консультирование по методам контрацепции</td>
                        <td class="td">1.2</td>
                        <td class="td">{{this.r1_2}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
        </div>

    </div>
    <!-- END BLOCK FOR PRINT  -->

    <div id="printBtnId">
        <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
        </button>
    </div>
</div>