<div class="table-responsive">
    <!-- START BLOCK FOR PRINT  -->
    <div id="printReport">
        <div class="text-center">
            <p><b><h4>Количество новых зарегистрировааных больных с ГБ с повторным визитом в ЦСМ</h4></b></p>
        </div>
        <div class="text-left">
            <div>ЛПУ: {{titleData.lpu_title}}</div>
            <div>
                <span>Отчетный период:
                  <span>{{dateFormat titleData.sdate}}</span> -
                  <span>{{dateFormat titleData.edate}}</span>
                </span>
            </div>
        </div>
        <div id="printBtnId">
            <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
            </button>
        </div>

        <div class="result-data">
            {{#if data.length}}
                <table class="table table-responsive rpt_table">
                    <thead class="thead-dark">
                        <tr class="tr" style="background: lightgray">
                            <th class="th" rowspan="2"></th>
                            <th class="th" rowspan="2">№ Строки</th>
                            <th class="th">Зарег. всего</th>
                            <th class="th">Визиты</th>
                            <th class="th">Зарег. всего старше 40 лет</th>
                            <th class="th">Визиты</th>
                        </tr>
                        <tr class="tr" style="background: lightgray">
                            <th class="th">всего</th>
                            <th class="th">всего повторные визиты</th>
                            <th class="th">всего</th>
                            <th class="th">всего повторные визиты</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr class="tr">
                            <td class="td">{{this.sex}}</td>
                            <td class="td">{{this.num}}</td>
                            <td class="td">{{this.c1}}</td>
                            <td class="td">{{this.c2}}</td>
                            <td class="td">{{this.c3}}</td>
                            <td class="td">{{this.c4}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>

    </div>
    <!-- END BLOCK FOR PRINT  -->

    <div id="printBtnId">
        <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
        </button>
    </div>
</div>