<div class="table-responsive">
    <!-- START BLOCK FOR PRINT  -->
    <div id="printReport">
        <div class="text-center">
            <p><b><h4>Количество больных с ГБ</h4></b></p>
        </div>
        <div class="text-left">
            <div>ЛПУ: {{titleData.lpu_title}}</div>
            <div>
            <span>Отчетный период:
              <span>{{dateFormat titleData.sdate}}</span> -
              <span>{{dateFormat titleData.edate}}</span>
            </span>
            </div>
        </div>
        <div id="printBtnId">
            <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
            </button>
            <button class="btn btn-primary" id="exportXLS">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Экспорт в Excel
            </button>
        </div>

        <div class="result-data">
            {{#if data.length}}
                <table class="table table-responsive rpt_table">
                    <thead class="thead-dark">
                        <tr class="tr" style="background: lightgray">
                            <th class="th" rowspan="2">№ строки</th>
                            <th class="th" rowspan="2">Наименование</th>
                            <th class="th" colspan="2">Численность приписанного <br/> населения</th>
                            <th class="th" colspan="2">Количество больных с ГБ (I10-I15)</th>
                            <th class="th" >Впервые выявленных больных</th>
                            <th class="th" colspan="2">Процент</th>
                        </tr>
                        <tr class="tr" style="background: lightgray">
                            <th class="th">cтарше 18 лет</th>
                            <th class="th">cтарше 40 лет</th>
                            <th class="th">Всего <br/> cтарше 18 лет</th>
                            <th class="th">Всего <br/> cтарше 40 лет</th>
                            <th class="th">cтарше 18 лет</th>
                            <th class="th">Cтарше 18 лет</th>
                            <th class="th">Cтарше 40 лет</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr class="tr">
                            <td class="td">{{this.num}}</td>
                            <td class="td">{{this.gender}}</td>
                            <td class="td">{{this.c1}}</td>
                            <td class="td">{{this.c2}}</td>
                            <td class="td">{{this.c3}}</td>
                            <td class="td">{{this.c4}}</td>
                            <td class="td">{{this.c5}}</td>
                            <td class="td">{{this.c6}}%</td>
                            <td class="td">{{this.c7}}%</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>

    </div>
    <!-- END BLOCK FOR PRINT  -->

    <div id="printBtnId">
        <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
        </button>
    </div>
</div>

<script>
    $(document).ready(function(){
        $("#exportXLS").click(function(){
            let fName = $(".lpo-name").text()
                .trim()
                .substr(10);
            $("#printReport").table2excel({
                exclude:".noExl",
                name:"report",
                filename:fName,
                fileext:".xls"
            });
        });
    });
</script>
<script src="/js/jquery.table2excel.js"></script>