<div class="table-responsive">
    <!-- START BLOCK FOR PRINT  -->
    <div id="printReport">
        <div class="text-center">
            <p><b><h4>Количество больных  находящихся под наблюдением у врача ГСВ</h4></b></p>
        </div>
        <div class="text-left">
            <div>ЛПУ: {{titleData.lpu_title}}</div>
            <div>
            <span>Отчетный период:
              <span>{{dateFormat titleData.sdate}}</span> -
              <span>{{dateFormat titleData.edate}}</span>
            </span>
            </div>
        </div>
        <div id="printBtnId">
            <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
            </button>
        </div>

        <div class="result-data">
            {{#if data.length}}
                <table class="table table-responsive rpt_table">
                    <thead class="thead-dark">
                        <tr class="tr" style="background: lightgray">
                            <th class="th" rowspan="2"></th>
                            <th class="th" rowspan="2">№ Строки</th>
                            <th class="th" >Впервые выявленных больных</th>
                            <th class="th" >Старше 40 лет</th>
                            <th class="th" >Процент(старше 40 лет)</th>
                        </tr>
                        <tr class="tr" style="background: lightgray">
                            <th class="th">Всего</th>
                            <th class="th">Всего</th>
                            <th class="th">Всего</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr class="tr">
                            <td class="td">Всего</td>
                            <td class="td">1</td>
                            <td class="td">{{this.all_count}}</td>
                            <td class="td">{{this.for_40_all}}</td>
                            <td class="td">{{this.percentage_40_all}}</td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Мужчины</td>
                            <td class="td">2</td>
                            <td class="td">{{this.male}}</td>
                            <td class="td">{{this.for_40_male}}</td>
                            <td class="td">{{this.percentage_40_male}}</td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Женщины</td>
                            <td class="td">3</td>
                            <td class="td">{{this.female}}</td>
                            <td class="td">{{this.for_40_female}}</td>
                            <td class="td">{{this.percentage_40_female}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>

    </div>
    <!-- END BLOCK FOR PRINT  -->

    <div id="printBtnId">
        <button class="btn btn-primary print-btn" target-print="printReport" id="printBtnId">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Печать
        </button>
    </div>
</div>